#multi {
    text-align: right;
    margin-left: 20%;
    background-image:url(../images/grille2.PNG);
    background-size: 100%;
  }
  
  #title {
    background-image: url("../images/logo.PNG");
    background-repeat: no-repeat;
    background-position: 49.5%;
  }
  #details {
    opacity: 20%;
    

  }
  #col {
    text-align: center;
  }
  .hr {
    border-bottom: 1px solid black;
    margin: 10px 0;
    width: 100%;
  }
  #grid {
    --ion-grid-column-padding:  4px;
  }
